<%= form_with(model: activities_done, local: true) do |form| %>
  <% if activities_done.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activities_done.errors.count, "error") %> prohibited this activities_done from being saved:</h2>

      <ul>
      <% activities_done.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :activities_done_user_id %>
  </div>

  <div class="field">
    <%= form.label :activities_id %>
    <%= form.text_field :activities_id, id: :activities_done_activities_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
