<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @activities_done.user %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @activities_done.activities %>
</p>

<%= link_to 'Edit', edit_activities_done_path(@activities_done) %> |
<%= link_to 'Back', activities_dones_path %>
