
<div class="main-login">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-signin text-center") do |f| %>
  <%= devise_error_messages! %>

  <img class="mb-4" src="assets/panda_hat.png" alt="" width="72" height="90">
  <h1 class="h3 mb-3 font-weight-normal">Secret Tanda</h1>

  <div class="field">
    <%= f.label :first_name, :class=>'sr-onlyd' %><br />
    <%= f.text_field :first_name, :class=>'form-control' %>
  </div>

    <div class="field">
    <%= f.label :last_name, :class=>'sr-onlyd' %><br />
    <%= f.text_field :last_name, :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email, :class=>'sr-onlyd' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password, :class=>'sr-onlyd' %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class=>'sr-onlyd' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class=>'form-control' %>
  </div>

  <div class="field">
    <%= f.label :location, :class=>'sr-onlyd' %><br />
    <%= f.collection_select :location_id, @locations, :id, :city, :class=>'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <p class="mt-5 mb-3">&copy; Secret Tanda 2018</p>
<% end %>

</div>

<%= render "devise/shared/links" %>
