<!DOCTYPE html>
<html>
  <head>
    <title>SecretTanda</title>
    <%= csrf_meta_tags %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Oswald" rel="stylesheet">
    <%= stylesheet_link_tag    '/assets/stylesheets/styles.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <% if user_signed_in?%>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
